.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/

results/
base_UniGoal/outputs/
base_UniGoal/outputs/**

data/
base_UniGoal/data/
base_UniGoal/data/**

base_UniGoal/.git
base_UniGoal/.git.*
base_UniGoal/third_party/Grounded-Segment-Anything/.git
base_UniGoal/third_party/Grounded-Segment-Anything/.git.*

base_UniGoal/third_party/Grounded-Segment-Anything/GroundingDINO/groundingdino/_C*.so
base_UniGoal/third_party/Grounded-Segment-Anything/**/__pycache__/
base_UniGoal/third_party/habitat-lab/**/__pycache__/

smoothnav/__pycache__/
tests/__pycache__/
configs/__pycache__/

.local/
